/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sen&display=swap');

* {
	font-family: 'Bree Serif', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 4vw;
  }

nav{
	height: 20vw;
}

/* .navbar-nav{
	background-color: #000000d9;
    top: 20vw;
    position: absolute;
    width: 100%;
} */

.navbar-brand{
	font-size: 5.5vw;
}

.fondo{
	margin: 20vw 0 10vw;
}

.footer {
	bottom: 0;
    /* left: 0; */
    position: fixed;
    width: 100%;
    height: 10vw;
    /* overflow: hidden; */
    /* margin: 0 auto; */
    transition: all .5s ease;
    z-index: 999;
}

.footer #button{
	/* width:100%; */
	height:10vw;
	background:#7a5c63;
	color: white;
	text-align: center;
	/* margin:0;
	position:relative; */
    /* transition: all .5s ease; */
}

.footer #button:hover{
	/* width:100%; */
	height:10vw;
    /* transition: all .5s ease;
	position:relative; */
}

.footer:hover {
    /* transition: all .5s ease; */
	height: 40vw;
}
.footer #container{
	/* width:100%; */
	height:100%;
  	/* position:relative;
  	top:0;
  	left:0; */
	background: #a07660;
}
.footer #cont{
 	/* position:relative;
 	/* top: -35px; */
 	/* right:190px; */
 	/* width: 100%;
 	height:auto;
 	margin:0 auto; */
 	color: white;
}

.footer_center{
	width: 100%;
	float:left;
	text-align:center;
	/* background: #a07660; */
}

.footer p{
	/* font-size: 15px; */
	margin:3vw;
	line-height: 1.5;
}

/* .pre-footer {
	height: 35px;
} */
/*INDEX*/

.presentacion{
	text-align: center;
}

.presentacion h1{
	font-size: 8vw;
}

/* .card-img-top{
	width: 100%;
	height: 20vw;
} */

.card-img-top{
	height: auto;
}

.card-body{
	width: 100%;
	height: auto;
	background-color: #c5c5c5;
}

.media{
	width: 100%;
	height: auto;
	background-color: #c5d387;
}

.porque {
	align-content: center;
	width: 90%;
	background: #f2e9ff;
	padding: 10px;
	margin: auto;
	border-radius: 10px;
	align-self: center;
}

.redondel {
	border-radius: 20px;
}

.card-box {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
    background: white;
}
.card-box .card-thumbnail {
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.card-box:hover {
	background-color: #f2e9ff;
}

.f1{
	padding: 15px;
	margin: 0;
}

.carousel-inner img {
	width: 100%;
  	height: 100%;
}

.estamos {
	line-height: 2; 
	background-color: #f2e9ff;
}

.estamos p{
	margin: 5vw;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.navbar-nav{
		background-color: #212529;
		top: 8vw;
		left: 0px;
		padding-left: 4vw;
	}

	.fondo{
		margin-top: 14vw;
	}

	/* .card-img-top{
		width: 100%;
		height: 20vw;
	} */
}

@media screen and (min-width: 768px) {	
	nav{
		height: 10vw;
	}

	.navbar-nav{
		background-color: transparent;
		top: 3vw;
		position: absolute;
	}

	.navbar-brand{
		font-size: 3vw;
	}

	.fondo{
		margin-top: 10vw;
	}

	/* .card-img-top{
		width: 100%;
		height: 20vw;
	}
	 */
}